[gcode_macro _Nozzle_Wiper_Variables]
description: Nozzle Wiper Variables
# the values below are for a wiper located at (-8, 125)
variable_purge_x:       -8  # x purge location
variable_purge_y:       112 # y purge location
variable_purge_x_entry: 0   # x entry location before going to the purge location
variable_purge_y_entry: 112 # y entry location before going to the purge location
variable_wipe_dx:       0   # distance to move in x from the purge position in order to wipe
variable_wipe_dy:       16  # distance to move in y from the purge position in order to wipe
variable_wipe_count:    3   # number of wipe cycles
variable_travel_speed:  300 # how fast travel speeds will be performed
variable_entry_speed:   100 # how fast to move from the entry location to the purge location
variable_wipe_speed:    50  # how fast to move when wiping
variable_purge_speed:   7   # how fast to extrude in mm/s when purging
variable_purge_fan:     64  # default fan speed out of 255 when purging
variable_wipe_fan:      128 # default fan speed out of 255 when wiping
gcode:

[gcode_macro Go_To_Purge_Location]
description: Move above the purge bucket
gcode:
  {% set Px = printer["gcode_macro _Nozzle_Wiper_Variables"].purge_x|float %}
  {% set Py = printer["gcode_macro _Nozzle_Wiper_Variables"].purge_y|float %}
  {% set Pxe = printer["gcode_macro _Nozzle_Wiper_Variables"].purge_x_entry|float %}
  {% set Pye = printer["gcode_macro _Nozzle_Wiper_Variables"].purge_y_entry|float %}
  {% set St = printer["gcode_macro _Nozzle_Wiper_Variables"].travel_speed * 60 %}
  {% set Se = printer["gcode_macro _Nozzle_Wiper_Variables"].entry_speed * 60 %}

  SAVE_GCODE_STATE NAME=Go_To_Purge_Location_state
  G90

  {% if not (printer.toolhead.position.x == Px and printer.toolhead.position.y == Py) %}
    G1 X{Pxe} Y{Pye} F{St}
    G1 X{Px} Y{Py} F{Se}
  {% endif %}

  RESTORE_GCODE_STATE NAME=Go_To_Purge_Location_state

[gcode_macro Wipe_Nozzle]
description: Wipe the nozzle on the brass brush or silicone wiper
  # params:
  #   OLD_FAN_SPEED
gcode:
  {% set OLD_FAN_SPEED = params.OLD_FAN_SPEED|default(-1)|int %}
  {% set Px = printer["gcode_macro _Nozzle_Wiper_Variables"].purge_x|float %}
  {% set Py = printer["gcode_macro _Nozzle_Wiper_Variables"].purge_y|float %}
  {% set Pxe = printer["gcode_macro _Nozzle_Wiper_Variables"].purge_x_entry|float %}
  {% set Pye = printer["gcode_macro _Nozzle_Wiper_Variables"].purge_y_entry|float %}
  {% set Wdx = printer["gcode_macro _Nozzle_Wiper_Variables"].wipe_dx|float %}
  {% set Wdy = printer["gcode_macro _Nozzle_Wiper_Variables"].wipe_dy|float %}
  {% set Wc = printer["gcode_macro _Nozzle_Wiper_Variables"].wipe_count|int %}
  {% set Se = printer["gcode_macro _Nozzle_Wiper_Variables"].entry_speed * 60 %}
  {% set Sw = printer["gcode_macro _Nozzle_Wiper_Variables"].wipe_speed * 60 %}
  {% set Sf = printer["gcode_macro _Nozzle_Wiper_Variables"].wipe_fan %}

  {% if OLD_FAN_SPEED == -1 %}
    {% set old_Sf = printer.fan.speed %}
  {% else %}
    {% set old_Sf = OLD_FAN_SPEED %}
  {% endif %}

  {% if printer.fan.speed < Sf %}
    {% set wait_for_fan = True %}
  {% else %}
    {% set wait_for_fan = False %}
  {% endif %}

  SAVE_GCODE_STATE NAME=Wipe_Nozzle_state
  G90

  # go to purge location
  Go_To_Purge_Location

  # set fan speed for wiping
  M106 S{Sf}

  # wait for fan to cool filament if needed
  {% if wait_for_fan %}
    G4 P800
  {% endif %}

  # wipe nozzle
  G1 X{Px + Wdx} Y{Py + Wdy} F12000
  {% for i in range(Wc) %}
    G1 X{Px} Y{Py} F{Sw}
    G1 X{Px + Wdx} Y{Py + Wdy} F{Sw}
  {% endfor %}

  # move away from wiper
  G1 X{Pxe + Wdx} Y{Pye + Wdy} F{Se}

  # restore fan speed
  M106 S{old_Sf}

  RESTORE_GCODE_STATE NAME=Wipe_Nozzle_state

[gcode_macro Purge]
description: Extrude into the purge bucket and wipe the nozzle
# params:
#   EXACT_TEMP:     whether to cool to specified temperature if already above it
#   TEMPERATURE:    minimum extruder temperature before purging
#   FEED_AMOUNT:    length of material in mm to purge
#   MAX_FEED:       max extrude length for a single purge strip. Set to -1 to disable length limit.
gcode:
  {% set EXACT_TEMP = params.EXACT_TEMP|default(False) %}
  {% set TEMPERATURE = params.TEMPERATURE|default(230.0)|float %}
  {% set FEED_AMOUNT = params.FEED_AMOUNT|default(15.0)|float %}
  {% set MAX_FEED = params.MAX_FEED|default(8.0)|float %}
  {% set Sp = printer["gcode_macro _Nozzle_Wiper_Variables"].purge_speed * 60 %}
  {% set Sf = printer["gcode_macro _Nozzle_Wiper_Variables"].purge_fan %}
  {% set old_Sf = printer.fan.speed %}

 SAVE_GCODE_STATE NAME=Purge_state

  # make sure FEED_AMOUNT is at least 3 to avoid negative E movements
  {% if FEED_AMOUNT < 3 %}
    {% set FEED_AMOUNT = 3 %}
  {% endif %}

  # go to purge location
  Go_To_Purge_Location

  # wait for hotend
  {% if EXACT_TEMP|lower == 'true' or printer.extruder.temperature < TEMPERATURE %}
    M109 S{TEMPERATURE}
  {% endif %}

  # set fan speed for purging
  M106 S{Sf}

  # relative extrusion
  M83

  # if extrude length is unlimited, purge a single strip
  {% if MAX_FEED == -1 %}
    # extrude
    G1 E{FEED_AMOUNT - 3} F{Sp}
    G1 E3 F100

  # else purge multiple smaller strips
  {% else %}
    {% for i in range(((FEED_AMOUNT - 3) / MAX_FEED)|int) %}
      # go to purge location
      Go_To_Purge_Location

      # extrude
      G1 E{MAX_FEED - 3} F{Sp}
      G1 E3 F100

      # wait
      G4 P800

      # wipe the nozzle
      Wipe_Nozzle OLD_FAN_SPEED={Sf}
    {% endfor %}

    # purge remainder
    {% set remainder = (FEED_AMOUNT - 3)|int % MAX_FEED|int %}
    Go_To_Purge_Location
    G1 E{remainder} F{Sp}
    G1 E3 F100
  {% endif %}

  # reset E position
  G92 E0.0

  # wait
  G4 P800

  # wipe the nozzle
  Wipe_Nozzle OLD_FAN_SPEED={old_Sf}

  RESTORE_GCODE_STATE NAME=Purge_state

[gcode_macro NOZZLE_CLEAN]
description: Scrubs the nozzle on the brass brush or silicone wiper located in the build chamber
gcode:
  SAVE_GCODE_STATE NAME=clean_nozzle_state	#store current nozzle location
  Wipe_Nozzle
  RESTORE_GCODE_STATE NAME=clean_nozzle_state MOVE=1 #restore current nozzle location
