[thermistor keenovo]
temperature1: 25
resistance1: 100000
temperature2: 80
resistance2: 12540
temperature3: 120
resistance3: 3850

# Heated Bed
[heater_bed]
heater_pin: E0_OUT
# NTC 100K MGB18-104F39050L32 is for Keenovo thermistors
sensor_type: keenovo
sensor_pin: TB
smooth_time: 3.0

# Limits
max_power: 0.5  # 0.4w per CM^2 -> 18x18x0.4 = 0.43 -> raised to 0.5 because 12mm bed
min_temp: 0
max_temp: 115

# control: pid
# pid_Kp: 27.083
# pid_Ki: 0.981
# pid_Kd: 186.871

[temperature_sensor heater_bed_edge]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: TE2
min_temp: 0
max_temp: 120