[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_52340D9A515137474C202020FF0D1913-if00
x_offset: -21.5
y_offset: 0
mesh_main_direction: x
mesh_runs: 2

[safe_z_home]
home_xy_position: 90, 90
z_hop: 5

[z_tilt]
z_positions:
  -74.0, -18.0    # Front Left
  76.0,  217.0    # Rear
  226.0, -18.0    # Front Right
points:
  50, 25          # Front Left
  101, 160        # Rear
  175, 25         # Front Right
speed: 200
horizontal_move_z: 20.0
retries: 10
retry_tolerance: 0.005

# Mesh Bed Settings
[bed_mesh]
speed: 200
horizontal_move_z: 15.0
mesh_min: 20, 20      # X5 Y5 (corrected for beacon XY offset + 20mm)
mesh_max: 153.5, 160  # X175, Y160 (corrected for beacon XY offset + 20mm)
probe_count: 25, 25
fade_start: 0.5
fade_end: 2
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.1
### Warning ###
# Ensure to update if you ever modify probe_count
# Ensure you understand what relative_reference_index means before updating
# because were measuring the offset from the nozzle switch to the bed using the center of the bed, the equation to find the location = ((probe point count)-1)/2
relative_reference_index: 312

[gcode_macro _HOME_X_AXIS]
gcode:
  {action_respond_info("_HOME_X_AXIS")}
  SAVE_GCODE_STATE NAME=home_x_axis
  {% set HOME_CURRENT = 0.7 %}
  {% set RUN_CURRENT = printer.configfile.settings['tmc5160 stepper_x'].run_current | float %}
  # Set current for sensorless homing
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={ HOME_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={ HOME_CURRENT }
  # Pause to ensure driver stall flag is clear
  G4 P2000
  # Home
  G28.1 X
  # Move away
  G91
  G1 X-5 F1200
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={ RUN_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={ RUN_CURRENT }
  RESTORE_GCODE_STATE NAME=home_x_axis

[gcode_macro _HOME_Y_AXIS]
gcode:
  {action_respond_info("_HOME_Y_AXIS")}
  SAVE_GCODE_STATE NAME=home_y_axis
  {% set HOME_CURRENT = 0.7 %}
  {% set RUN_CURRENT = printer.configfile.settings['tmc5160 stepper_y'].run_current | float %}
  # Set current for sensorless homing
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={ HOME_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={ HOME_CURRENT }
  # Pause to ensure driver stall flag is clear
  G4 P2000
  # Home
  G28.1 Y
  # Move away
  G91
  G1 Y5 F1200
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={ RUN_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={ RUN_CURRENT }
  RESTORE_GCODE_STATE NAME=home_y_axis

[gcode_macro G28]
rename_existing: G28.1
gcode:
  {action_respond_info("G28 - called with params '%s'" % rawparams)}
  {% if 'X' in params or params|length == 1 %}
    _HOME_X_AXIS
  {% endif %}
  {% if 'Y' in params or params|length == 1 %}
    _HOME_Y_AXIS
  {% endif %}
  {% if 'Z' in params or params|length == 1 %}
    G4 P5000
    G28.1 Z
  {% endif %}
