[dockable_probe]
# connected to E1 (Y-Max Port) Endstop on SPIDER
pin: ^Z_MAX
x_offset: -25.0   # offset for microswitch x direction off nozzle
y_offset: 18.88   # offset for microswitch y direction off nozzle
# z_offset: 8.425   # offset for microswitch in z height - this is a starting point only
samples: 3
sample_retract_dist: 4
samples_result: median
samples_tolerance: 0.02
samples_tolerance_retries: 3
speed: 2
lift_speed: 10

# annexed probe specific
dock_position:        -8, 164, 20  # back left corner of gantry
approach_position:    32, 164, 20
detach_position:      -8, 124, 20
safe_z_position:      90, 90      # center of bed
attach_speed:         20
detach_speed:         100
travel_speed:         300
check_open_attach:    True
dock_fixed_z:         True
dock_retries:         1
allow_delayed_detach: False

#   Optional custom gcode sections for annexed probe
pre_attach_gcode:
  G1 X40 Y40 F18000     # Keep umbilical from catching on stuff
pre_detach_gcode:
  G1 X40 Y40 F18000     # Keep umbilical from catching on stuff

post_attach_gcode:
  G1 X40 Y164 F18000      # Exit the probe dock before continuing (no more probes in the purge bucket)
post_detach_gcode:
  G1 X40 Y164 F18000      # After detaching, return to reasonable position

[z_tilt]
z_positions: 
  -74.0, -18.0    # Front Left
  76.0,  217.0    # Rear
  226.0, -18.0    # Front Right
points:
  45, 8           # Front Left
  101, 143        # Rear
  175, 8          # Front Right
speed: 200
horizontal_move_z: 20.0
retries: 10
retry_tolerance: 0.01

# Mesh Bed Settings
[bed_mesh]
speed: 200
horizontal_move_z: 15.0 
mesh_min: 20,25
mesh_max: 150, 155
probe_count: 5,5
fade_start: 0.5
fade_end: 2
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.1
### Warning ###
# Ensure to update if you ever modify probe_count
# Ensure you understand what relative_reference_index means before updating
# because were measuring the offset from the nozzle switch to the bed using the center of the bed, the equation to find the location = (probe point count)/2-1
relative_reference_index: 12

[gcode_macro _HOME_X_AXIS]
gcode:
  SAVE_GCODE_STATE NAME=home_x_axis
  {% set HOME_CURRENT = 0.7 %}
  {% set RUN_CURRENT = printer.configfile.settings['tmc5160 stepper_x'].run_current | float %}
  # Set current for sensorless homing
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={ HOME_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={ HOME_CURRENT }
  # Pause to ensure driver stall flag is clear
  G4 P2000
  # Home
  G28 X
  # Move away
  G91
  G1 X-5 F1200
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={ RUN_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={ RUN_CURRENT }
  RESTORE_GCODE_STATE NAME=home_x_axis

[gcode_macro _HOME_Y_AXIS]
gcode:
  SAVE_GCODE_STATE NAME=home_y_axis
  {% set HOME_CURRENT = 0.7 %}
  {% set RUN_CURRENT = printer.configfile.settings['tmc5160 stepper_y'].run_current | float %}
  # Set current for sensorless homing
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={ HOME_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={ HOME_CURRENT }
  # Pause to ensure driver stall flag is clear
  G4 P2000
  # Home
  G28 Y
  # Move away
  G91
  G1 Y5 F1200
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={ RUN_CURRENT }
  SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={ RUN_CURRENT }
  RESTORE_GCODE_STATE NAME=home_y_axis

[homing_override]
axes: xy
gcode:
 _HOME_X_AXIS
 _HOME_Y_AXIS
 G4 P10000
 G28 Z
