# TMC Stepper Configurations for All Motors
[tmc2209 stepper_x]
# connected to X Stepper on SPIDER
uart_pin: PE7
interpolate: true
run_current: 1.0 
sense_resistor: 0.110
stealthchop_threshold: 0
# Place a jumper on the two pin header near the endstop for sensorless homing
diag_pin: PB14 #connected to X Endstop (X Jumper Header)
# You may need to tune this value.  See https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
driver_SGTHRS: 115

[tmc2209 stepper_x1]
# connected to Y Stepper on SPIDER
uart_pin: PE15
interpolate: true
run_current: 1.0 
sense_resistor: 0.110
stealthchop_threshold: 0
# Place a jumper on the two pin header near the endstop for sensorless homing
diag_pin: PB13 #connected to Y Endstop (Y Jumper Header)
# You may need to tune this value.  See https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
driver_SGTHRS: 115

[tmc2209 stepper_y]
# connected to Z Stepper on SPIDER
uart_pin: PD10
interpolate: true
run_current: 1.0  
sense_resistor: 0.110
stealthchop_threshold: 0
# Place a jumper on the two pin header near the endstop for sensorless homing
diag_pin: PA0 #connected to Z Endstop (Z Jumper Header)
# You may need to tune this value.  See https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
driver_SGTHRS: 115

[tmc2209 stepper_y1]
# connected to E0 Stepper on SPIDER
uart_pin: PD7
interpolate: true
run_current: 1.0 
sense_resistor: 0.110
stealthchop_threshold: 0
# Place a jumper on the two pin header near the endstop for sensorless homing
diag_pin: PA3 #connected to E0 Endstop (E0 Jumper Header)
# You may need to tune this value.  See https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
driver_SGTHRS: 115

[stepper_x]
# connected to X Stepper on SPIDER
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
# 20t Pulley, 2mm Pitch on a 0.9deg Motor
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 400
# connected to virtual endstop
endstop_pin: tmc2209_stepper_x:virtual_endstop 
position_min: -8
position_endstop: 180
position_max: 180
homing_speed: 50.0
homing_retract_dist: 0
homing_positive_dir: true

[stepper_x1]
# connected to Y Stepper on SPIDER
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
# 20t Pulley, 2mm Pitch on a 0.9deg Motor
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 400
# connected to virtual endstop
endstop_pin: tmc2209_stepper_x1:virtual_endstop 



[stepper_y]
# connected to Z Stepper on SPIDER
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15
# 20t Pulley, 2mm Pitch on a 0.9deg Motor
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 400
# connected to virtual endstop
endstop_pin: tmc2209_stepper_y:virtual_endstop 
position_min: -2
position_endstop: -2
position_max: 184
homing_speed: 50.0
homing_retract_dist: 0
homing_positive_dir: false

[stepper_y1]
# connected to E0 Stepper on SPIDER
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4
# 20t Pulley, 2mm Pitch on a 0.9deg Motor
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 400
# connected to virtual endstop
endstop_pin: tmc2209_stepper_y1:virtual_endstop 