[tmc2209 stepper_z]
# connected to E1 Stepper on SPIDER
uart_pin: PC14
interpolate: True
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0

[tmc2209 stepper_z1]
# connected to E2 Stepper on SPIDER
uart_pin: PC15
interpolate: True
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0

[tmc2209 stepper_z2]
# connected to E3 Stepper on SPIDER
uart_pin: PA15
interpolate: True
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0

[stepper_z]
# connected to E1 Stepper on SPIDER
step_pin: PE6
dir_pin: !PC13
enable_pin: !PE5
# 5:1 Belted Z attached to a 1.8deg Motor
rotation_distance: 40
gear_ratio: 5:1
microsteps: 16
full_steps_per_rotation: 200 #change to 400 for a 0.9deg motor

# connected to Z- Endstop on SPIDER
endstop_pin: probe:z_virtual_endstop
position_max: 170 #this is set here on purpose, your actual travel will vary based on spring compression holding the bed, adjust at your own risk
position_min: -5
homing_speed: 15.0
second_homing_speed: 5.0
homing_retract_dist: 10.0
homing_positive_dir: false
 
[stepper_z1]
# connected to E2 Stepper on SPIDER
step_pin: PE2
dir_pin: !PE4
enable_pin: !PE3
# 5:1 Belted Z attached to a 1.8deg Motor
rotation_distance: 40
gear_ratio: 5:1
microsteps: 16
full_steps_per_rotation: 200 #change to 400 for a 0.9deg motor
 
[stepper_z2]
# connected to E3 Stepper on SPIDER
step_pin: PD12
dir_pin: !PC4
enable_pin: !PE8
# 5:1 Belted Z attached to a 1.8deg Motor
rotation_distance: 40
gear_ratio: 5:1
microsteps: 16
full_steps_per_rotation: 200 #change to 400 for a 0.9deg motor
