[controller_fan controller_fan]
## Controller fan - FAN2 jumper on 5v
pin: FAN2
kick_start_time: 1.0
heater: heater_bed
fan_speed: 1.0

[fan_generic filter]
## Nevermore Micro - E1_OUT is only for 24v fans
pin: E1_OUT
off_below: 0.3
kick_start_time: 0.5

[temperature_sensor pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 90

[temperature_sensor spider]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor chamber]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: TE2
gcode_id: C
min_temp: 0
max_temp: 70

[temperature_sensor heater_bed_edge]
sensor_type: ATC Semitec 104GT-2
sensor_pin: TE1
min_temp: 0
max_temp: 120