[stepper_x]
## B stepper
step_pin: X_MOT_STEP
dir_pin: !X_MOT_DIR # TMC2209
# dir_pin: X_MOT_DIR # TMC5160
enable_pin: !X_MOT_EN
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 400  # 0.9 degree stepper
endstop_pin: ^X_MAX  # Normally Closed - If using a hall effect endstop make sure the signal LED turns OFF when it triggers (might need to flip the magnet)
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 40  # Max 100
homing_retract_dist: 5
homing_positive_dir: true

[stepper_y]
## A stepper
step_pin: Y_MOT_STEP
dir_pin: !Y_MOT_DIR # TMC2209
# dir_pin: Y_MOT_DIR # TMC5160
enable_pin: !Y_MOT_EN
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 400  # 0.9 degree stepper
endstop_pin: ^Y_MAX  # Normally Closed - If using a hall effect endstop make sure the signal LED turns OFF when it triggers (might need to flip the magnet)
position_min: 0
position_endstop: 305
position_max: 305
homing_speed: 40  # Max 100
homing_retract_dist: 5
homing_positive_dir: true

[stepper_z]
## Z0 stepper - front left
step_pin: E0_MOT_STEP
dir_pin: !E0_MOT_DIR
enable_pin: !E0_MOT_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
# position_endstop: 2.3  # Superio PEI sheet - Fermio 33mm pin
# position_endstop: -0.7  # Superio PEI sheet - 30mm pin
## new position_endstop = current position_endstop - z offset from printer tune menu
## Example: new value = 2.3 - -0.175 = 2.475

## Physical Z endstop - Voron 2.4 SPEC
endstop_pin: ^Z_MIN
# position_endstop: 0.075  # Superio PEI
position_endstop: 0.205  # Ultistik

## Virtual Z endstop - VINDA probe
# endstop_pin: probe:z_virtual_endstop
# position_endstop: -0.500  # position_endstop is not allowed with z_virtual_endstop

position_max: 275
position_min: -1
homing_speed: 8.0
second_homing_speed: 2.0
homing_retract_dist: 4.0

[stepper_z1]
## Z1 stepper - rear left
step_pin: E1_MOT_STEP
dir_pin: E1_MOT_DIR
enable_pin: !E1_MOT_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[stepper_z2]
## Z2 stepper - rear right
step_pin: E2_MOT_STEP
dir_pin: !E2_MOT_DIR
enable_pin: !E2_MOT_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[stepper_z3]
## Z3 stepper - front right
step_pin: E3_MOT_STEP
dir_pin: E3_MOT_DIR
enable_pin: !E3_MOT_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
