[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 3.0
gcode:
  SAVE_GCODE_STATE NAME=PAUSE_state
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer['gcode_macro PAUSE_INFILL'] %}
    # Clear pause_next when PAUSE is triggered
    SET_GCODE_VARIABLE MACRO=PAUSE_INFILL VARIABLE=pause_next VALUE=False
  {% endif %}
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESTORE_GCODE_STATE NAME=PAUSE_state
  RESUME_BASE {get_params}

[gcode_macro PAUSE_INFILL]
description: Pause when processing next allowed roles
variable_pause_next: False
gcode:
  {% set execute = params.EXECUTE | default(0) | int %}
  {% set extrusion_role = params.EXTRUSION_ROLE | string %}
  {% set pause_roles = ("InternalInfill") %}
  {% if extrusion_role in pause_roles and execute and pause_next %}
    {action_respond_info("PAUSE_INFILL: Executing.")}
    SET_GCODE_VARIABLE MACRO=PAUSE_INFILL VARIABLE=pause_next VALUE=False
    PAUSE
  {% elif not execute and not pause_next %}
    {action_respond_info("PAUSE_INFILL: Pausing print at the start of next infill.")}
    SET_GCODE_VARIABLE MACRO=PAUSE_INFILL VARIABLE=pause_next VALUE=True
  {% endif %}

### Add this to "Between extrusion role change G-code" in SuperSlicer
# PAUSE_INFILL EXECUTE=1 EXTRUSION_ROLE=[extrusion_role]
### Pause when hitting the next infill by manually triggering PAUSE_INFILL
# PAUSE_INFILL
